import * as S from './{{pascalCase name}}Component.styles';

export const {{pascalCase name}}Component = () => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  );
};
